.loader {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    transition: opacity 1s, visibility 1s;
    z-index: 10;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 46px;
    height: 46px;
    border: 10px solid  var(--secondary-color);
    border-top-color: var(--third-color);
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}